.convert-container { 
  width: 100%; 
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.convert-container .content{ 
  width: 100%;
  padding: 40px 96px;
  background: #e5e5e5;
  box-shadow: 0 0 100px rgba(0,0,0, 0.1);
  border-radius: 8px;

  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.convert-container .content section{ 
  width: 100%;
  max-width: 380px;
}

.convert-container .content section h1{ 
  margin: 20px 0 32px;
  font-size: 32px;
}

.convert-container .content section p{ 
  font-size: 18px;
  color: #4b4b53;
  line-height: 32px;
  margin-bottom: 20px;
}

.convert-container .content form{ 
  width: 100%;
  max-width: 450px;

}

.convert-container .content form input { 
  margin-bottom: 8px;
  display: flex;
  width: 100%;
  max-width: 450px;
  height: 60px;
  border-radius: 8px;
  border: 0;
}

.convert-container .content form button{ 
  width: 25%;
  height: 40px;
  display: flex;
  justify-content: center; 
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.convert-container .content form button:hover{ 
  opacity: 0.7;
}

.convert-container .content form div.resultado{ 
  margin-top: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: left;
  background: #b9a779;
  border-radius: 8px;

}

.convert-container .content form div.resultado p{ 
  font-weight: 700;
  font-size: 14px;
  margin-left: 8px;
}

button.back-link { 
  height: 50px;
  border-radius: 8px;
  padding: 8px;

}
